@media(max-width:767px){
    .chat{
        font-size: 13px;
        width: 75%;
        height: 100%;
    }
    .chat__title{
        font-size: 14px;
    }
}
.chat{
    width: 70%;
    height: 100%;
}
.chat__title{
    height: 60px;
    border-bottom: 2px solid;
    border-radius: 2px;
    border-color:  #DFE2E5; 
    position: relative;
    top:10px;
}
.messages{
    overflow-y: scroll;
    margin: 20px 0 0 0;
}
.enter-message{
    height: 40%;
    width: 100%;
}
.messages__message{
    padding: 0 5px 0 0;
    border: 1px solid;
    border-color:#C8E4EE;
    border-radius: 4px;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.messages__message-nick{
    font-size: 14px;
    margin: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
}
.messages__message-short-name{
    opacity: 75%;
}
.messages__message-text{
    margin: 10px 0px 5px 10px;
}
.messages__message-time-data{
    margin: 0px 10px 5px 0px;;
    opacity: 80%;
    font-size: 12px;
    text-align: right;
}
.enter-message__text-area{
    white-space: pre;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
    border-right: 1px solid;
    resize: none;
    width: 100%;
}
.enter-message__text{
    margin: 0 0 0 0;
}