.link{
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: white;
    border:0px;
    background-color: transparent;
}
.link:hover{
    color: rgb(216, 220, 224);
}